<?xml version="1.0"?>
<config>
	<modules>
    	<Kubitoo_Webrtc>
      		<version>1.1.0</version>
    	</Kubitoo_Webrtc>
  	</modules>
  	<global>
  		<helpers>
      		<kubitoo_webrtc>
        		<class>Kubitoo_Webrtc_Helper</class>
      		</kubitoo_webrtc>
    	</helpers>
    	<models>
            <kubitoo_webrtc>
                <class>Kubitoo_Webrtc_Model</class>
                <resourceModel>kubitoo_webrtc_resource</resourceModel>
            </kubitoo_webrtc>
            <kubitoo_webrtc_resource>
                <class>Kubitoo_Webrtc_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>kubitoo_webrtc_configuration</table>
                    </configuration>                  
                </entities>
            </kubitoo_webrtc_resource>
            <kubitoo_webrtc_mysql4>
	            <class>Kubitoo_Webrtc_Model_Mysql4</class>
	            <entities>
	                <configuration>
	                    <table>kubitoo_webrtc_configuration</table>
	                </configuration>
	            </entities>
	        </kubitoo_webrtc_mysql4>
        </models>
        <blocks>
            <kubitoo_webrtc_adminhtml>
               <class>Kubitoo_Webrtc_Block_Adminhtml</class>
            </kubitoo_webrtc_adminhtml>
            <kubitoo_webrtc>
            	<class>Kubitoo_Webrtc_Block</class>
         	</kubitoo_webrtc>
		</blocks>
		<resources>
    		<kubitoo_webrtc_setup>
	            <setup>
	                <module>Kubitoo_Webrtc</module>
	                <class>Mage_Core_Model_Resource_Setup</class>
	            </setup>
	            <connection>
	                <use>core_setup</use>
	            </connection>
	        </kubitoo_webrtc_setup>
	        <kubitoo_webrtc_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </kubitoo_webrtc_write>
	        <kubitoo_webrtc_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </kubitoo_webrtc_read>
    	</resources>
  	</global>
  	<frontend>
        <layout>
            <updates>
                <webrtc module="Kubitoo_Webrtc">
                    <file>kubitoo_webrtc.xml</file>
                </webrtc>
            </updates>
        </layout>
    </frontend>
  	<admin>
		<routers>
		  	<kubitoo_webrtc_admin>
		    	<use>admin</use>
				<args>
			  		<module>Kubitoo_Webrtc_Adminhtml</module>
			 		<frontName>admin_webrtc</frontName>
				</args>
		  	</kubitoo_webrtc_admin>
		</routers>
  	</admin>
  	<adminhtml>
		<menu>
	  		<kubitoo_webrtc module="kubitoo_webrtc" translate="title">
				<title>Kubitoo</title>
				<sort_order>75</sort_order>
				<depends>
                	<module>Kubitoo_Webrtc</module>
            	</depends>
				<children>
                	<configuration translate="title" module="kubitoo_webrtc">
                    	<title>Configuration</title>
                    	<sort_order>10</sort_order>
                 		<action>kubitoo_webrtc_admin/configuration</action>
                	</configuration>
            	</children>
	  		</kubitoo_webrtc>
		</menu>
		<acl>
	        <resources>
	            <admin>
	                <children>
	                    <kubitoo_webrtc translate="title" module="kubitoo_webrtc">
	                        <title>Kubitoo</title>
	                        <sort_order>75</sort_order>
	                        <children>
	                            <configuration translate="title" module="kubitoo_webrtc">
	                                <title>Manage Configuration</title>
	                            </configuration>
	                        </children>
	                    </kubitoo_webrtc>
	                </children>
	            </admin>
	        </resources>
	    </acl>
		<layout>
	  		<updates>
				<kubitoo_webrtc>
		  			<file>kubitoo_webrtc.xml</file>
				</kubitoo_webrtc>
	  		</updates>
		</layout>
  	</adminhtml>
</config>
